* {box-sizing: border-box;}

.accesories {
  background: linear-gradient(to right, #9c27b0, #8ecdff);
}

.mySlides img {
  vertical-align: middle;
  text-align: center;
 
}
.head-text {
  color: #4c0758;
  position: absolute;
  font-size: 98px;
  bottom: 240px;
  left: 120px;
  width: 500px;
}
img.s {
  vertical-align: middle;
  position: absolute;
  bottom: 250px;
  left: 150px;
  
}
.slideshow-container {
  width: 500px;
  height: 600px;
  position: relative;
  margin: auto;
}

.text {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: #0c4a7c;
}


.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px;}
}