.features {
  background: linear-gradient(to right, #9c27b0, #8ecdff);
}
* {box-sizing: border-box;}

.camera-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.active {
  background-color: #8ecdff;
}
.fade {
  animation-name: fade;
  animation-duration: 5s;
}
@keyframes fade {
  from {opacity: .4;}
  to {opacity: 1;}
}