* {box-sizing: border-box;}

.reviews
{
  background: linear-gradient(to right, #9c27b0, #8ecdff);
}
.review-container, .cart-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
}
.review-item, .cart-item {
  display: inline-block;
  text-align: center;
}

.review-pic {
  border-radius: 50%;
  justify-self: center;
}
.cart-pic {
  border-radius: 15px;
  width: 30%;
  justify-self: center;
}
.review-text, .cart-text {
  font-family: Roboto, Arial;
}
@media (max-width: 750px) {
  .review-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .review-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .review-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}